<div>
    <img src=<%= @book_cover %>>
    <div id='book_info'>
        <p>Title: <%= @book_title %></p>

        <p><%= @authors_form %>: <%= @authors %></p>

        <p>Publisher: <%= @publisher %></p>

        <p>Published date: <%= @date %></p>
    </div>
</div>
