<!DOCTYPE html>
<html>
  <head>
    <title>CheeseResource</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
      <nav>
        <%= link_to "All Cheeses", cheeses_path %>
        <%= link_to "New Cheeses", new_cheese_path %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
