<h1>Update Cat Details</h1>

<form action="/cats/<%=@cat["id"] %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @cat["name"] %>">
    </label>

    <label>
        Family:
        <input name="breed" value="<%= @cat["breed"] %>">
    </label>

    <label>
        Image:
        <input name="sex" value="<%= @cat["sex"] %>">
    </label>

    <label>
        Image:
        <input type="url" name="image" value="<%= @cat["image"] %>">
    </label>

    <button>Create Cat</button>
</form>