<div>
    <aside>
        <img src="<%= @plant.image %>" alt="<%= @plant.name %>">
    </aside>
    <div class="content">
        <h3><%= @plant.name %></h3>
        <p>Family: <span><%= @plant.family %></span></p>
        <p>Distribution: <span><%= @plant.state %></span></p>
        <p>Conversation Status: <span><%= @plant.conservation_status %></span></p>
    </div>
</div>
