<h2>Edit Unit</h2>

<form action="/units/<%= @unit["id"] %>" method="post">
    <label>
        Code:
        <input name="code" value="<%= @unit["code"] %>" required>
    </label>

    <label>
        Name:
        <input name="name" value="<%= @unit["name"] %>" required>
    </label>

    <label>
        Credit Points:
        <input type="number" name="credit_points" value="<%= @unit["credit_points"] %>" required>
    </label>

    <label>
        Mark:
        <input type="number" name="mark" value="<%= @unit["mark"] %>" required>
    </label>

    <label>
        Grade:
        <input name="grade" value="<%= @unit["grade"] %>" required>
    </label>

    <div class="button-container">
        <button>Confirm</button>
    </div>

    <a href="/units">
        <button class="back">Cancel</button>
    </a>
    
</form>