<!DOCTYPE html>
<html>
  <head>
    <title>Whales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <nav>
          <%= link_to 'Home', root_path %>
          <%= link_to 'All whales', whales_path %>
          <%= link_to 'New whale', new_whale_path %>
          <%= link_to 'Whale zone', whales_calm_path %>
        </nav>
      <%= yield %>
    </div>
  </body>
</html>
