<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <nav>
      <a href="/">Home page</a>
      <a href="/magic">Magic 8 Ball</a>
      <a href="/secret">Guess the Number</a>
      <a href="/rockpaperscissor">Rock, Paper, Scissors, Lizard, Spock</a>
    </nav>
  <body>
    <%= yield %>
  </body>
</html>
