<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movier</title>
</head>
<body>
    <h1>Movie name: <%= question %></h1>
    <h2>Movie details<h2>
    <p>IMDB url : <%= answer.mainSource.sourceUrl %><p>
    <p>Rate : <%= answer.mainRate.rate %></p>
    <p>Plot : <%= answer.plot %></p>
    <p>Writer : <%= answer.writers[0].name %></p>
    <p>Director : <%= answer.directors[0].name %></p>
    <img src=<%= answer.posterImage.url %> alt=<%= answer.posterImage.title %> />
</body>
</html>